body{
    margin: 0;
}
table, td{
    border: 1px solid black;
}
table{
    width: 600px ;
    text-align: center;
    margin-top: 9px;
    margin-left: 400px;
}
td{
    width: 145px;
}
#plus{
    height: 30px;
    width: 30px;
    margin-left: 970px; 
}

.navigation {
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: rgb(95, 92, 92);  
}

.jamesBond{
   
    height: 40px;
    width: 49px;
    margin-top: 13px;
    margin-right: 13px;
  
    
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cms{
    color: white;
    margin-top: 13px;
    font-size: 24px;
   
}
.sms{
    display: relative;
    height: 40px;
    align-items: center;
    margin-right: 10px;
    margin-top: auto;
}
.sms__img{
    height: 100%;
}
.student{
    margin-top: 100px;
    margin-left: 400px;
}
.blocks{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
} 
.edit{
    height: 20px;
    width: 20px;
}
#end{
    height: 20px;
    width: 20px;
}
.user{
    color: white;
    font-size: 16px;
    margin-right: 13px;
    display: flex;
    align-items: baseline;
}
.left{
    display: flex;
    align-items: center;
}
#circle{
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 80%;
    text-align:  center;
    margin-left: 35px;
}
#circle__1{
    height: 20px;
    width: 20px;
    background-color: rgb(132, 132, 132);
    border-radius: 80%;
    text-align:  center;
    margin-left: 35px;
}
.dropdown-conten{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
.notification{
    display: none;
    flex-direction: column;
    position: absolute;
    left: -50px;
    top: 40px;
    z-index: 3;
    border: 2px black solid;
    background-color: white;
}
.notification1{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 80px;
    top: 50px;
    z-index: 3;
    border: 2px black solid;
    background-color: white;
    padding: 5px;
}
.user__jamesBond{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.notification1 a{
    margin-top: 5px;
}
.message{
    width: 200px;
    background: #cccccc;
    border: 1px solid #828282;
    border-radius: 5px;
    height: 40px;
    position: relative;
}
.dropdown-content-element{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.dropdown-content a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: #4a4a4a;
}
.parent__sms__and__notification{
    margin-top: auto;
    position: relative;
}
.sms:hover + .notification, .notification:hover{
    display: block;
}
.parent__user__jamesBond__and__user{
    position: relative;
}
.user__jamesBond:hover + .notification1, .notification1:hover{
    display: block;
}
.sms__img {
    transition: transform 0.2s ease-in-out;
}
  
.sms__img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}